.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 16px;
    color: rgb(41, 41, 41);
    gap: 5px;
}

.pagination .previous, .next{
    font-size: 19px !important;
}

.pagination li{
    padding: 3px 9px;
    cursor: pointer;
    background-color: #f4f4f4 !important;
    border-radius: 3px;
    font-weight: 400;
}

.pagination li:hover{
    background-color: #d4983d !important;
    color: #fff !important;
}

.pagination .active{
    background-color: #d4983d !important;
    color: #fff !important;
}